@{
    ViewBag.Title = "About";
}
<h1 class="page-title bold">
    <i class="fa fa-info-circle"></i>
    About
    <small>Page</small>
</h1>

<h3>Human Resources software</h3>

<p>
    HR Management System is an employee management and recruitment
    web portal for Employees. It handles the recruitment process in the organization
    starting from candidate information, resumes & interview life cycle all the way to the hiring process.
    <br/>
    It holds all employees personal and business data such as role, payroll info, hiring date
    and identification documents and provides dashboards and insights about the employees
    in a user-friendly way for HR and the Management team.
</p>