@{
    ViewBag.Title = "Power BI";
}
<h1 class="page-title font-yellow-lemon bold uppercase">
    <i class="fa fa-bar-chart"></i>
    Power BI
    <small>Analytics</small>
</h1> 
@if (ViewBag.Access == "FullAccess" || ViewBag.Access == "FullView")
{
    <div class="row">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">HR Operations Reports</span>
                </div>
                <div style="margin: auto; padding: 20px;">
                    <hr />                    
                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYWMxOGM0NDYtYjEyZS00YTg3LWFjM2UtODk5ZjUyM2EyNGY0IiwidCI6ImM3OTQ2N2I4LWI5Y2YtNGIzYS05ZmJhLTAwOWE1MmQ1NDRiYiIsImMiOjF9" 
                            frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Access == "TeamView")
{
    <div class="row">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">Managers Reports</span>
                </div>
                <div style="margin: auto; padding: 20px;">
                    <hr />

                    <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMDFjYWM1MmItMDAzYi00MmIxLWE3MmEtNDcwYWJkOTUxZjM2IiwidCI6ImM3OTQ2N2I4LWI5Y2YtNGIzYS05ZmJhLTAwOWE1MmQ1NDRiYiIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
}
