@model CoEX_HRMS.Models.Role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <table id="user" class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td style="width:20%">@Html.LabelFor(model => model.Title, new { @class = "bold" })</td>
                        <td style="width:80%">@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<p>
    <div class="col-md-offset-9">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn blue-chambray" })
    </div>
    @Html.ActionLink("Back to List", "Index")
</p>

